body {
  margin: 0;
  height: 100vh;
  background-image: url("minecraftsunset.jpg?v=5");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: Arial, sans-serif;
}
