body {
  margin: 0;
  height: 100vh;
  background-image: 
    /* this makes a linear thing over it so that the text pops more */
    /* black is (0,0,0) where 50% opacity is in (0.5) and then it means same colour up and down*/
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("minecraftsunset.jpg?v=5");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  /* edit here to include the minecraft font where press start 2p is the name of retro gaming font */
  font-family: 'Press Start 2P', cursive;
}

.menu {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.mcbutton {
  width: 730px;
  height: 73px; 
  /* made it taller */
  background-image: url("mcbutton.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.mcbutton span {
  font-size: 24px;
  color: #e0e0e0;

  /* make it got the gray outline */
  text-shadow:
    2px 0 0 #2b2b2b,
    -2px 0 0 #2b2b2b,
    0 2px 0 #2b2b2b,
    0 -2px 0 #2b2b2b,
    2px 2px 0 #2b2b2b,
    -2px -2px 0 #2b2b2b,
    2px -2px 0 #2b2b2b,
   -2px 2px 0 #2b2b2b;
    
}

h1 {
  font-size: 52px;
  text-shadow:
    4px 0 0 #2b2b2b,
   -4px 0 0 #2b2b2b,
    0 3px 0 #2b2b2b,
    0 -3px 0 #2b2b2b,
    4px 4px 0 #2b2b2b,
   -4px -4px 0 #2b2b2b,
    4px -4px 0 #2b2b2b,
   -4px 4px 0 #2b2b2b;
}
