body {
  margin: 0;
  height: 100vh;
  background-image: 
    /* this makes a linear thing over it so that the text pops more */
    /* black is (0,0,0) where 50% opacity is in (0.5) and then it means same colour up and down*/
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("minecraftsunset.jpg?v=5");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: Arial, sans-serif;
}
.menu {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.mcbutton {
  width: 420px;
  height: 65px;
  background-image: url("mcbutton.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}
